<div id="errors">
</div>

<h1>Name: <%= current_user.name %></h1>
<h1>Organization name: <%= @org.name %></h1>

<%= image_tag @user.avatar.url %>

<h1>Entries</h1> <%= link_to "Print Entry (PDF)", user_path(@user, format: "pdf"), class: "btn btn-success" %>
<hr>
<h2>Income</h2>
<%= link_to 'New Income', new_income_path, class: "btn btn-primary", 'data-toggle' =>  "modal", 'data-target' => '#edit_modal', remote: true %>
 
<div id="edit_modal" class="modal fade" role="dialog"> 
</div>

<div id="income_entries">
<%= render 'shared/income_display' %>
</div>

<hr>

<h3>Expense</h3>
<%= link_to 'New Expense', new_expense_path, class: "btn btn-primary", 'data-toggle' =>  "modal", 'data-target' => '#expense_modal', remote: true %>
<div id="expense_modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    </div>
  </div>
</div>

<div id="expense_entries">
<%= render 'shared/expense_display' %>
</div>