<table class="table">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Type</th>
      <th>Category</th>
      <th>Description</th>
      <th>Date</th>
    </tr>
</thead>

<hr>

<tbody>
<% @expenses.each do |entry| %>
  <tr>
    <td><%= entry.amount %></td>
    <td><%= entry.type %></td>
    <td><%= entry.category.name %></td>
    <td><%= entry.description %></td>
    <td><%= entry.entry_date.strftime("%F") %></td>
    <td><%= link_to 'Edit', edit_expense_path(entry), class: "btn btn-primary", 'data-toggle' =>  "modal", 'data-target' => '#edit_modal', remote: true %></td>
    <div id="edit_modal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        </div>
      </div>
    </div>
    <td><%= link_to 'Delete', expense_path(entry), method: :delete, data: {confirm: "are you sure?"} ,class: "btn btn-danger" %></td>
  </tr>
<% end %>
</tbody>
</table>