<table class="table" id="income_table">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Type</th>
      <th>Category</th>
      <th>Description</th>
      <th>Date</th>
    </tr>
  </thead>

<tbody>
<% @incomes.each do |entry| %>
  <tr data-id="<%= entry.id  %>" >
    <td><%= entry.amount %></td>
    <td><%= entry.type %></td>
    <td><%= entry.category.name %></td>
    <td><%= entry.description %></td>
    <td><%= entry.entry_date.strftime("%F") %></td>
    <td><%= link_to 'Edit', edit_income_path(entry), class: "btn btn-primary", 'data-toggle' =>  "modal", 'data-target' => '#edit_modal', remote: true %></td>
    
    <td><%= link_to 'Delete', income_path(entry), method: :delete, data: {confirm: "are you sure?"}, class: "btn btn-danger", remote: true %></td>
  </tr>
<% end %>
</tbody>
</table>
