
<% unless @expense.errors.any? %>
    $('#edit_modal').modal("hide")
    $("#expense_entries  tr[data-id='<%= @expense.id %>']").remove();
    $('#expense_table').find('tbody').append([
    '<tr data-id=<%= @expense.id %>>',
    '<td><%= @expense.amount %></td>',
    '<td><%= @expense.type %></td>',
    '<td><%= @expense.category.name %></td>',
    '<td><%= @expense.description %></td>',
    '<td><%= @expense.entry_date.strftime("%F") %></td>',
    '<td><%= link_to 'Edit', edit_expense_path(@expense), class: "btn btn-primary", 'data-toggle' =>  "modal", 'data-target' => "#edit_modal", remote: true %></td>',
    '<td><%= link_to 'Delete', expense_path(@expense), method: :delete, data: {confirm: "are you sure?"} ,class: "btn btn-danger", remote: true %></td>',
    '</tr>'
   ].join(''));
   $("#errors").html("<%= escape_javascript(render('users/error')) %>");
<% end %>